<h3>Current Tweets:</h3>

{{#if tweetDate}}
  {{#each}}
    <div class="tweet" {{action 'showDate'}}>
      <p>{{name}}</p>
      <p>{{text}}</p>
        <p>{{date}}</p>
    </div>
  {{/each}}
{{else}}
  {{#each}}
    <div class="tweet" {{action 'showDate'}}>
      <p>{{name}}</p>
      <p>{{text}}</p>
    </div>
  {{/each}}
{{/if}}

<p>
  {{#link-to 'new-tweet' class="btn btn-default"}}New Tweet{{/link-to}}
</p>

{{outlet}}
